<nav class="navbar">
  <div class="navbar-inner">
   <div class="navbar-logo">
  <a routerLink="/" aria-label="Ir a Inicio">
    <img src="assets/adorbit-logo.png" alt="AdOrbit Logo" />
  </a>
</div>

    <ul class="navbar-links desktop-menu">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/nosotros">Nosotros</a></li>
      <li><a routerLink="/servicios">Servicios</a></li>
      <li><a routerLink="/contenidos">Contenidos</a></li>
      <li><a routerLink="/soporte">Soporte</a></li>
    </ul>
    
    <button mat-stroked-button color="warn" class="login-desktop" routerLink="/login">ACCEDER</button>

<div class="navbar-actions">
  <button class="hamburger" (click)="menuAbierto = !menuAbierto">&#9776;</button>


</div>

<!-- Menú lateral (solo móvil) -->
<ul class="mobile-menu" [class.open]="menuAbierto">
  <li><a routerLink="/" (click)="menuAbierto = false">Inicio</a></li>
  <li><a routerLink="/nosotros" (click)="menuAbierto = false">Nosotros</a></li>
  <li><a routerLink="/servicios" (click)="menuAbierto = false">Servicios</a></li>
  <li><a routerLink="/contenidos" (click)="menuAbierto = false">Contenidos</a></li>
  <li><a routerLink="/soporte" (click)="menuAbierto = false">Soporte</a></li>
</ul>

<div class="sidebar-backdrop" *ngIf="menuAbierto" (click)="menuAbierto = false"></div>
