.navbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem 2rem;
  font-weight: bold;
  height: 80px;
  overflow: visible;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: white;

  overflow: visible; 
}

.navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 0 2rem;
  position: relative;
}

.navbar-logo img {
  height: 270px;       
  margin-bottom: -10px; 
  transition: transform 0.3s ease;
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;

  li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;

    &:hover {
      color: rgb(12, 166, 255);
    }
  }
}
