<app-navbar></app-navbar>

<div class="landing-container">
  <div class="content-row">
    <div class="text-content">
      <h1 class="title">
        Gestiona tus campañas<br />
        <span class="highlight">como un profesional</span>
      </h1>

      <p class="description">
        Con AdOrbit puedes lanzar, monitorear y optimizar tus campañas
        publicitarias en Google y Meta desde una sola plataforma con un panel
        intuitivo, rápido y visual que te permite tomar decisiones inteligentes
        en menos tiempo y con mayor impacto.
      </p>
      <div class="pregunta-cuenta">
        <button class="input-estilo-boton" >
          crea tu cuenta
        </button>
      </div>
    </div>
    <div class="alien">
      <img src="assets/aliendev.png" alt="Desarrollador alienígena" />
      <div class="floating-icons">
        <img src="assets/adds.png" alt="Logos Dalí flotando" />
      </div>
    </div>
  </div>
</div>

<app-section-promociona></app-section-promociona>
<app-section-lanzamiento></app-section-lanzamiento>
<app-testimonios></app-testimonios>

<app-footer></app-footer>

<a
  class="whatsapp-float"
  href="https://wa.me/573001234567?text=Hola%20AdOrbit%2C%20quiero%20más%20información%20sobre%20campañas"
  target="_blank"
  aria-label="Contáctanos por WhatsApp"
>
  <img src="assets/whatsapp-svgrepo-com.svg" alt="WhatsApp" />
</a>
