<app-navbar></app-navbar>

<div class="landing-container">


  <h1 class="title">
    Gestiona tus campañas<br />
    <span class="highlight">como un profesional</span>
  </h1>

  <p class="description">
    Con AdOrbit puedes lanzar, monitorear y optimizar tus campañas publicitarias de Google y Meta desde un solo panel. Rápido. Visual. Inteligente.
  </p>

  <!-- <div class="button-group">
    <button mat-raised-button color="primary" routerLink="/login">Iniciar sesión</button>
    <button mat-stroked-button color="accent" routerLink="/dashboard">Ver demo</button>
  </div> -->
</div>
ç