:host {
  font-family: 'Segoe UI', sans-serif;
}

.landing-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #360038, #0b1f3a, #00182f);
  color: white;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem 5rem;
  text-align: left;
}

.content-row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text-content {
  flex: 1 1 600px;
  max-width: 800px;
  margin-top: -50px;
  margin-left: 100px;

  .title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .highlight {
    color: #00bcd4;
  }

  .description {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 1.25s ease forwards;
    animation-delay: 0.5s;
    font-size: 1.5rem;
    color: #cbd5e1;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.visual-content {
  flex: 1 1 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  .floating-icons {
    animation: floatY 3s ease-in-out infinite;
    position: relative;

    img {
      width: 60rem;
      max-width: 100%;
      pointer-events: none;
      user-select: none;
      filter: drop-shadow(0 0 12px rgba(0, 188, 212, 0.35));
      transition: transform 0.3s ease;
    }

    img:hover {
      transform: scale(1.03);
    }
  }
}

.pregunta-cuenta {
  margin-top: 6rem;
  margin-left: 30rem;

  .input-estilo-boton {
    background-color: #00bcd4;
    color: #070707;
    border: none;
    padding: 0.6rem 1.5rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #d9dbdb;
      color: #000;
    }
  }
}

@keyframes floatY {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .landing-container {
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
  }

  .text-content {
    margin: 0;
    text-align: center;

    .title {
      font-size: 2rem;
    }

    .description {
      font-size: 1.2rem;
    }
  }

  .pregunta-cuenta {
    margin: 2rem auto 0;

  }

  .visual-content {
    justify-content: center;
    margin-top: 2rem;

    .floating-icons img {
      width: 20rem;
    }
  }
}

